<div class="container" *ngIf="student">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Edit</div>
            <div class="panel-body">
                <div class="col-md-4">
                    <h3>{{student.name}}</h3>
                </div>
                <div class="col-md-4">
                    <h3>{{student.lastName}}</h3>
                </div>
                <div class="col-md-4">
                    <h3>{{student.email}}</h3>
                </div>
            </div>
            
        </div>
        
        <div class="form-group" >
            <label>name: </label>
            <input class="form-control" [(ngModel)]="student.name" placeholder="name">
            <label>lastName: </label>
            <input class="form-control" [(ngModel)]="student.lastName" placeholder="lastName">
            <label>name: </label>
            <input class="form-control" [(ngModel)]="student.email" placeholder="email">
            <button (click)="goBack()" class="btn btn-default">Back</button>
            <button (click)="save()" class="btn btn-default">Save</button>
        </div>
    </div>
</div>