#typesoftask{
    border: 1px solid red;
    min-height: 400px;
}

#makingtask{
    border: 1px solid gray;
    border-radius: 5px;
    min-height: 400px;
    margin: 3px; 
}

#firstTask{
    margin: 5px;
    
    border: 1px solid blue;
}

#firstTask p{
    text-align: center;
}

#firstTask ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}

#firstTask ul li span{
    text-transform: uppercase;
}

#secondTask{
    margin: 2%;
}

#secondTask ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

#secondTask ul li{
    background-color: orange;
    padding: 5px;
    cursor: pointer;
}