<div class="container">
    <div class="row">
        
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Types of tasks</div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <h3 (click)="vocabularyTask()">Translating words</h3>
                    </div>
                    <div class="col-md-4" >
                        <h3 (click)="orderTask()" >Order words</h3>
                    </div>
                    <div class="col-md-4">
                        <h3>Upload image</h3>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div *ngIf="showTask1">
                <h4>Search for vocabulary</h4>
                <input #term (keyup)="search(term.value)"/>
                <ul>
                    <li *ngFor="let item of items | async" (click)="onClick(item)">
                        {{item}} 
                    </li>
                </ul>
                <button class="btn btd-default" (click)="saveFirst()">Save</button>
            </div>
            <div *ngIf="showTask2">
                <p>Put sentence</p>
                <input #sentence>
                <button (click)="makeSentence(sentence.value)">Create sentence</button>
            </div>
            
        </div>
        
        <div class="col-md-8">
            <div id="makingTask">
                <div id="firstTask" *ngIf="firstTask">
                    <p>Translate worrds</p>
                    <ul>
                        <li *ngFor="let word of words">
                            <span>{{word}}</span>
                        </li>
                    </ul>
                </div>
                <div id="secondTask" *ngIf="secondTask">
                    <p>Put words in correct order</p>
                    <div *ngIf="sentence" >
                        <ul [dragula]='"third-bag"'>
                            <li *ngFor="let s of sentence">{{s}}</li>
                        </ul>
                        
                     </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
