<div class="container">
  <div class="row">
  <div [hidden]="submitted" class="col-md-12">
    <h1>Student Form</h1>
    <form *ngIf="active" (ngSubmit)="onSubmit()" #studentForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" required
          [(ngModel)]="student.name"
            ngControl="name"  #name="ngForm" >
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
        
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" required
          [(ngModel)]="student.lastName"
            ngControl="lastName"  #lastName="ngForm" >
        <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
          Last name is required
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" required
          [(ngModel)]="student.email"
            ngControl="email"  #email="ngForm" pattern="^[a-zA-Z!#$%&'*+/=?^{|}~]([a-zA-Z0-9!#$&%'*+\-/=?^_{|}~]+([.]|[a-zA-Z0-9!#$&%'*+\-/=?^_{|}~]*))+@[a-zA-Z0-9]+\.[a-zA-Z]{2}$">
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          Email is required or invalid
        </div>
        
      </div>
      <div class="form-group">
        <label for="grade">Grade</label>
        <select [(ngModel)]="gradeId" class="form-control">
          <option *ngFor="let grade of grades" [value]="grade._id">{{grade.name}}</option>
        </select>
      </div>
      
      <button type="button" class="btn btn-default" [disabled]="!studentForm.form.valid" (click)="newStudent()">Create Student</button>
    </form>
  </div>
  </div>
</div>