<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Student info</div>
            <div class="panel-body">
                <div class="col-md-4">
                    <h3>{{student.name}}</h3>
                </div>
                <div class="col-md-4">
                    <h3>{{student.lastName}}</h3>
                </div>
                <div class="col-md-4">
                    <h3>{{student.email}}</h3>
                </div>
                
                <div class="form-group" *ngIf="addedMark">
                    
                </div>
            </div>
            
        </div>
        
        <h3>Oceny:</h3>

        <table class="table table-hover">
            <tr>
                <th>Value</th>
                <th>Weight</th>
                <th>Description</th>
            </tr>
            <tr *ngFor="let mark of marks">
                <td>{{mark.value}}</td>
                <td>{{mark.weight}}</td>
                <td>{{mark.description}}</td>
                <td>
                    <button class="btn btn-danger" (click)="deleteMark(mark)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </table>
        <button class="btn btn-success btn-md" (click)="addMark()">Add mark</button>
        
        <div class="form-group" *ngIf="addedMark">
            <label>Value: </label>
            <input class="form-control" [(ngModel)]="addingMark.value">
            <label>Weight:</label>
            <input class="form-control" [(ngModel)]="addingMark.weight">
            <label>Description:</label>
            <input class="form-control" [(ngModel)]="addingMark.description">
            <button type="button" class="btn btn-default" (click)="saveMark()">Save mark</button>
        </div>
        
    </div>
</div>