.vertical-center {
  width:100%;
  text-align: center;
}

.vertical-center:before {    
  content: " ";
  display: inline-block;
  vertical-align: middle; 
}

.vertical-center > .container {
  display: inline-block;
  vertical-align: middle;
}

.vertical-center button {
    background: white;
    padding: 20px;
    color: black;
    font-size: 18px;
}

table {
    margin: 2% 0;
}