<div class="container">
    <div class="row">
        <button (click)="addStudent()">Add new student</button>
        <div id="vertical-center">
            <div class="container">
                <button *ngFor="let grade of grades" (click)="getStudents(grade._id)">{{ grade.name }}</button>
                <button (click)="getStudents(null)">ALL</button>
            </div>
        </div>
        
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Last name</th>
                <th>E-mail</th>
                <th>Grade</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let student of students">
                <td>{{student.name}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.email}}</td>
                <td *ngIf="student.grade">{{student.grade.name}}</td>
                <td>
                    <button mwl-confirm
      [title]="title"
      [message]="message"
      placement="left"
      (confirm)="confirmClicked = true"
      (cancel)="cancelClicked = true"
      [(isOpen)]="isOpen" class="btn btn-danger" (click)="delete(student._id, $event)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-success" (click)="gotoDetail(student)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button class="btn btn-warning" (click)="onSelect(student)">
                        <span class="glyphicon glyphicon-user"></span>
                    </button>
                </td>
            </tr>
        </table>
        
        <div class="col-md-6" *ngIf="selectedStudent">
            <select-student [student] = "selectedStudent"></select-student>
        </div>

        <div class="col-md-6" *ngIf="aStudent">
            <h2>Add new student</h2>
            <student-form [students]="students"></student-form>
        </div>
        
    </div>
</div>
        